<header class="page-header">
  <h1>About page</h1>
</header>


<div>
  <p>Welcome to The Jungle! We're thrilled to have you here. Our website is dedicated to providing plant enthusiasts with an easy and convenient way to buy the best plants around. We specialize in three categories of plants: evergreens, shrubs, and trees.</p>

  <p>At The Jungle, we believe that adding plants to your living space can have a positive impact on your well-being. Not only do they provide oxygen, but they also add a touch of nature to your home or office, creating a calming and soothing environment.</p>
  
  <p>We understand that buying plants can be overwhelming, especially if you're not familiar with the different types available. That's why we've made it our mission to provide you with a curated selection of the best plants in each of our categories. We've done the research for you, so you can rest assured that the plants you receive from us are of the highest quality.</p>
  
  <p>Our team is composed of plant experts who are passionate about what they do. We're here to help you choose the perfect plant for your space, and we're always available to answer any questions you may have.</p>
  
  <p>We take pride in our customer service and believe that it's the key to our success. We're committed to making your experience with us as seamless and enjoyable as possible. From the moment you place your order to the time it arrives at your doorstep, we'll be there every step of the way.</p>
  
  <p>Thank you for choosing The Jungle for your plant needs. We look forward to serving you!</p>
</div>